.simple_form {
  .form-group-invalid {
    label {
      @apply text-danger;
    }
    .form-control {
      @apply border-danger-light focus:border-danger;
    }
    .invalid-feedback {
      @apply text-sm text-danger;
    }
  }
}

.form-label {
  @apply mb-2 inline-block leading-1;
}

.form-control {
  @apply w-full border p-2 border-grey-light rounded focus:border-primary text-base focus:outline-none leading-1;

  &.form-control-sm {
    @apply py-1 text-sm;
  }

  &:disabled {
    @apply bg-grey-lightest text-grey cursor-not-allowed;
  }

  &:read-only {
    @apply bg-grey-lightest text-black;
  }
}

.input-group, .form-group {
  @apply mb-4;
}

.date-select {
  @apply flex gap-2;
  .form-control {
    @apply inline-block;
    width: auto;
    flex: 1;
  }
}

.input-icon {
  @apply relative;
  svg {
    @apply absolute m-sm;
    width: 1.4rem;
    height: 1.4rem;
    top: 1px;
  }
  .form-control {
    padding-left: 2rem;
  }
}
