.list-group {
  @apply p-0;
  .list-group-item {
    @apply cursor-pointer block relative pl-16 py-3.5 text-base text-grey leading-1;
    &.with-icon {
      @apply pl-7;
      .list-item-icon {
        @apply mr-4 inline-block;
      }
    }
    .list-item-tips {
      @apply absolute right-4 p-1 top-6 rounded-xl text-red-dark bg-opacity-10 bg-red-light text-sm text-center w-8;
      line-height: 1;
    }

    &.collapsible {
      @apply relative;
      &:after {
        @apply absolute top-7 right-5 w-0 h-0;
        content: '';
        border: 0.4rem solid transparent;
        border-left: 0.4rem solid theme('colors.grey.dark');
      }

      &.expanded {
        &:after {
          @apply right-6;
          border-left: 0.4rem solid transparent;
          border-top: 0.4rem solid theme('colors.grey.dark');
        }
      }
    }

    &.active, &:hover,&.expanded {
      @apply text-white bg-opacity-20 bg-black-light;
    }

    &.expanded {
      @apply text-grey;
    }
  }

}
