.toggle-btn-checkbox {
  @apply hidden h-7;
  + .toggle-btn {
    @apply bg-white rounded-2xl outline-none cursor-pointer p-px w-14 h-7 border-grey-light relative border inline-block align-text-bottom;
    user-select: none;
    transition: all .4s ease;
    &:after,
    &:before {
      @apply block relative w-6 h-6;
      content: "";
    }
    &:after {
      @apply bg-grey-light left-0 top-0 rounded-full;
      transition: all .2s ease;
    }
    &:before {
      @apply hidden;
    }
    .open-hint{
      @apply hidden absolute font-normal top-0 left-20;
    }
    .close-hint{
      @apply absolute font-normal top-0  left-20;
    }
  }

  &:checked + .toggle-btn {
    @apply bg-primary;
    &:after{
      @apply bg-white;
    }
    .open-hint{
      @apply block;
    }
    .close-hint{
      @apply hidden;
    }
  }

  &:checked + .toggle-btn:after {
    left: calc(100% - theme('width.6'));
  }

  &:disabled + .toggle-btn{
    @apply bg-grey-light;
    .tips-content-right, .tips-content-left{
      @apply text-grey-light;
    }
    &:after{
      @apply bg-grey-dark;
    }

  }

}